{% extends "base.html" %}

{% block content %}

<style>
  #pic_select img {
    max-width: 100px;
    border: 1px solid black;
    cursor: pointer;
  }
  #pic_select img.selected {
    outline: 5px solid orange;
  }

  #card_container {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width: calc(4*9rem + 3*1.25rem);
  }

  .sim_game {
    min-width: 9rem;
    font-size: 12px;
  }

  .sim_game:hover {
    text-decoration: underline;
  }

  .scroll_button {
    height: 50px;
    min-width: 40px;
    display: block;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    outline: none;
    background-color: lightblue;
    border: none;
  }

  .scroll_button:focus {
    outline: none;
  }

  .card-link {
    text-decoration: none;
    color: black;
    margin: 0;
  }

  .card img {
    height: 150px;
    object-fit: cover;
    object-position: top;
  }
</style>

<br><br>
<div class="container">
  <div class="row bg-light">
    <div class="col-9">
      <h1>{{game.name}}</h1>
      <p>{{game.description}}</p>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{{game.image_url}}" alt="Cover Art for {{game.name}}"/>
        <div class="card-body">
          <p>Players: {{game.min_players}}-{{game.max_players}}</p>
          <p>Length: {{game.length}} minutes</p>
          <p>Average Rating: {{avgRating}}</p>
          <p>Complexity: {{game.complexity}}/5</p>
          {% if playCount != None %}
            <p>Play Count: {{playCount}}</p>
          {% endif %}
            <form method="POST" action="/games/{{game.gid}}">
              <div class="btn-group mx-auto" role="group" aria-label="Basic example">
                <input class="btn btn-primary" type="submit" value="Log Play" name="log_play">
                {% if likeStatus %}
                  <input class="btn btn-primary" type="submit" value="Unlike" name="like">
                {% else %}
                  <input class="btn btn-primary" type="submit" value="Like" name="like">
                {% endif %}
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex mt-2 p-2 bg-light rounded">
    <div class="col-2 d-flex">
      <h3 class="bagde rounded-pill bg-primary text-light align-self-center p-2">Mechanics</h3>
    </div>
  
    <div class="col-10 d-flex flex-wrap">
      {% for mechanic in mechanics%}
      <a href="{{url_for('game.games')}}/?mechanic={{mechanic.mech_name}}"><h4><span class="badge rounded-pill bg-secondary text-light m-1">{{mechanic.mech_name}}</span></h4></a>
      {% endfor %}
    </div>
  </div>

<br>

{% if sim_games|length > 0 %}
<p style="font-size: 18px;"><b>Games like this:</b></p>

<div id="similar_games_container" style="display: flex; align-items: center; gap: 10px;">

  {% if sim_games|length > 3 %}
  <button id="scroll_left" class="scroll_button" disabled>&lt;</button>
  {% endif %}

  <div id="card_container">
    {% for sim_game in sim_games %}
    <a href="/games/{{sim_game.gid }}" class="card-link">
      <div class="card sim_game">
        <img class="card-img-top" src="{{ sim_game.thumbnail_url }}" alt="Game Image">
        <div class="card-body">
          <p class="card-text" style="text-align: center;">{{ sim_game.name }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

  {% if sim_games|length > 4 %}
  <button id="scroll_right" class="scroll_button">&gt;</button>
  {% endif %}
</div><br>

<script>
  let cards = document.querySelectorAll(".card-link");

  let card_index = 0;
  let max_index = Math.max(0, cards.length - 4); //because 4 cards visible

  function setDisabled() {
    document.getElementById("scroll_left").disabled = card_index == 0;
    document.getElementById("scroll_right").disabled = card_index == max_index;
  }

  document.getElementById("similar_games_container").addEventListener("click", function (e) {
    if (e.target.id == "scroll_left") {
      card_index = Math.max(0, card_index - 1);
      cards[card_index].scrollIntoView({ inline: "start", behavior: "smooth" });
    }

    if (e.target.id == "scroll_right") {
      card_index = Math.min(max_index, card_index + 1);
      cards[card_index].scrollIntoView({ inline: "start", behavior: "smooth" });
    }

    setDisabled();
  });
</script>

{% endif %}

<div class="row d-flex mt-2 p-2 bg-light rounded">
  <h2  style="margin-right:auto">Reviews</h2>
  <div class="align-items-center">
    {% if current_user.is_authenticated and (userReview|length == 0) %}
    <button type="button" class="btn btn-primary" id="reviewModal">Add Review</button>
    {{ modal_form(review_form, "Enter your Review", "reviewModal") }}
    {% elif current_user.is_authenticated and (userReview|length != 0) %}
    <button type="button" class="btn btn-primary" disabled>Already Reviewed</button>
    {% endif %}
  </div>
  <table class='table table-hover table-primary table-striped table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Rating</th>
        <th scope="col">Description</th>
        <th scope="col">timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for review in gameReviews%}
        <tr>
          <th scope="row">{{review.name}}</th>
          <td>{{review.rating}}</td>
          <td>{{review.description}}</td>
          <td>{{review.time_posted}}</td>
        </tr>
      {% endfor %}
    </tbody>
</div>
</div>

{% endblock %}