{% extends "user_pages/base_user.html" %} {% block user_content %}
<h2>Your Borrowed Games</h2>
<table
  class="table table-hover table-primary table-striped table-bordered container"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Game</th>
      <th scope="col">Comment</th>
      <th scope="col">Info</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for copy in borrowed_copies%}
    <tr>
      <th scope="row">{{ copy.game.name }}</th>
      <td>{{copy.comment}}</td>
      <td>
        <a
          href="{{ url_for('game.game', gid=copy.game.gid) }}"
          class="badge bg-primary text-light"
          role="button"
          >GO</a
        >
      </td>
      <td>     
        <a
          href="{{ url_for('library.return_copy', cpid=copy.cpid) }}"
          class="badge bg-primary text-light"
          >Return</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Your Copies</h2>

<table
  class="table table-hover table-primary table-striped table-bordered container"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Game</th>
      <th scope="col">Comment</th>
      <th scope="col">Borrower</th>
      <th scope="col">Info</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for copy in owned_copies%}
    <tr>
      <th scope="row">{{ copy.game.name }}</th>
      <td>{{copy.comment}}</td>
      {% if not copy.borrower.name %}
      <td>
        Not checked out
      </td>
      {% elif copy.borrower.name != user.name %}
      <td>{{copy.borrower.name}}</td>
      {% elif copy.borrower.name == user.name %}
      <td>
        <a
          href="{{ url_for('library.return_copy', cpid=copy.cpid) }}"
          class="badge bg-primary text-light"
          >Return</a
        >
      </td>
      {% endif %}
      <td>
        <a
          href="{{ url_for('game.game', gid=copy.game.gid) }}"
          class="badge bg-primary text-light"
          role="button"
          >GO</a
        >
      </td>
      <td>
        {% if copy.borrower.name %}
        <a 
          href="{{ url_for('library.return_copy', cpid=copy.cpid) }}"
          class="badge bg-primary text-light"
          role="button">MARK AS RETURNED</a>
        </td>
        {% else %}
        <a
          href="{{ url_for('users.delete_copy', cpid=copy.cpid) }}"
          class="badge bg-danger text-light"
        >
        Delete
        </a>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
