{% extends "user_pages/base_user.html" %} {% block user_content %}

<h2>Search Libraries:</h2>
<form>
  <div class="d-flex p-2 border justify-content-end align-items-center">
    <form>
      {{ form.search(value = prev_search_string) }}
      <button type="submit" class="btn btn-primary mx-1">Search</button>
    </form>
    <a href="{{ url_for('users.libraries', uid=user.uid) }}" class="btn btn-secondary mx-1">Clear Search</a>
    {% if create %}
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="modal"
      data-target="#createForm"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      +
    </button>

    <form
      action=""
      method="POST"
      novalidate
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
      id="createForm"
    >
      {{ create.hidden_tag() }}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Library</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>{{ create.title.label }}</label>
              {{ create.title(class_="form-control") }}
            </div>
            <div class="form-group">
              <label>{{ create.description.label }}</label>
              {{ create.description(class_="form-control") }}
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            {{ create.submit(class_="btn btn-primary text-light")}}
          </div>
        </div>
      </div>
    </form>
    {% endif %}
  </div>
</form>

<div class="mx-3 mt-2">
  <div class="row">
    {% for library in libraries%}
    <div class="card mx-1 mb-2" style="width: 13rem;">
      <div class="card-body flex-column d-flex text-center">
        <h5 class="card-title">{{ library.title }}</h5>
        <p class="card-text">{{ library.description }}</p>
        <a href="{{ url_for('library.library', lid=library.lid) }}" class="btn btn-primary mt-auto">Visit Collection</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
