{% extends "user_pages/base_user.html" %}


{% block user_content %}

<h1> Your Recommended</h1>
<p>
    <b style="font-size: 24px;">Your favorite mechanic seems to be: {{pop_name}}</b><br>
    Here are some low-complexity games to check out:
</p>
{{ game_list(easy_recs) }}
<br>

<p>Looking for a challenge? Here are some more complex games to try:</p>
{{ game_list(hard_recs) }}

<br>
<p>
    <b style="font-size: 24px;">Your current favorite designer seems to be: {{designer}}</b><br>
    Check out these other games by {{designer}}:
</p>
{{ game_list(design_recs) }}
<br>

<h2>Check out these cool collections!</h2>

<table class='table table-hover table-primary table-striped table-bordered container'>
    <thead class="thead-dark">
        <tr>
            <th>Collection</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for coll in sim_coll %}
        <tr>
            <td>{{coll.title}}</td>
            <td>{{coll.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}