{% extends "user_pages/base_user.html" %}


{% block user_content %}

<h1> Your Recommended {{pop_name}}</h1>

<br>

<body>

        <br>
        Your current favorite mechanic is: {{pop_name}}
        <br>
        Here are some new games to ease you into the mechanic:
        <br>
                
        <table class='table table-hover table-primary table-striped table-bordered container'>
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Game Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for rec in easy_recs %}
                <tr>
                    <td>{{rec.gid}}</td>
                    <td>{{rec.name}}</td>
                    <td>{{rec.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
</body>

{% endblock %}
