{% extends "user_pages/base_user.html" %}


{% block user_content %}

<h1> Your Recommended</h1>

<br>

<body>

        <br>
        Your current favorite mechanic is: {{pop_name}}
        <br>
        Here are some new low-level games to ease you into the mechanic:
        <br>
                
        <table class='table table-hover table-primary table-striped table-bordered container'>
            <thead>
                <tr>
                    <th>Game Name</th>
                    <th>Complexity</th>
                    <th>Players</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                {% for rec in easy_recs %}
                <tr>
                    <td>{{rec.name}}</td>
                    <td>{{rec.complexity}}</td>
                    <td>{{rec.min_players}} - {{rec.max_players}}</td>
                    <td>{{rec.length}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
</body>

{% endblock %}
