{% extends "user_pages/base_user.html" %}

{% block user_content %}

<p style="font-size: 24px;">
    Username: {{ user.name }}
</p>
<p>
    <b>Email</b>
    {% if current_user.is_authenticated and current_user.uid == user.uid|int %}
    (<a href="">edit</a>)
    {% endif %}
    <br>
    {{ user.email }}
</p>

{% if user.about %}
<p>
    <b>About</b>
    {% if current_user.is_authenticated and current_user.uid == user.uid|int %}
    (<a href="">edit</a>)
    {% endif %}
    <br>
    {{ user.about }}
</p>
{% endif %}

{% endblock %}