{% macro game_list(games, delete_id_name=False) %}

<!-- stling in base.html -->

<div class="game_grid">
    {% for game in games %}
    <a class="game" href="{{ url_for('game.game', gid=game.gid) }}">
        <img src="{{game.thumbnail_url}}">
        <div>
            <p>
                <b>{{game.name}}</b><br>
                Complexity: {{game.complexity}}<br>
                {{game.min_players}}-{{game.max_players}} Players<br>
                {{game.length}} minutes<br>
                {% if delete_id_name %}
                <form method="POST">
                    <input class="delete_button" type="submit" value="Delete">
                    <input type="hidden" name="delete_id" value="{{ game[delete_id_name] }}">
                </form>
                {% endif %}
            </p>
        </div>
    </a>
    {% endfor %}
</div>

<script>
    document.addEventListener("click", function(e){
        if(e.target.classList.contains("delete_button")){
            e.preventDefault();
            e.target.parentElement.submit();
        }
    })
</script>

{% endmacro %}