{% macro table_controls(mechanic, current_page, per_page) %}

  <form method="GET" action="/games/">
    <!-- could automate this with list of tuples -->
    <input type="hidden" name="per_page" value="{{per_page}}">
    {% if mechanic %}
      <input type="hidden" name="mechanic" value="{{mechanic}}"> 
    {% endif %}
    <div class="btn-group mx-auto" role="group" aria-label="Basic example">
      {% if current_page > 0 %}
        <button class="btn btn-primary" type="submit" name="page" value="{{current_page - 1}}"><</button>
      {% endif %}
      <button class="btn btn-primary" type="submit" name="page" value="{{current_page + 1}}">></button>
    </div>
  </form>

{% endmacro %}