{% extends "base.html" %}

{% block content %}

<h2>Search Collections:</h2>
<form>
  <div class="d-flex p-2 border justify-content-end align-items-center">
  
    {{ form.search }}
    <button type="submit" class="btn btn-primary mx-1">Search</button>
  </div>
</form>

<table class='table table-hover table-primary table-striped table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for collection in collections%}
      <tr>
        <th scope="row">{{collection.title}}</th>
        <td>{{collection.description}}</td>
        <td><a href="/collections/{{collection.cid}}" class="badge bg-primary text-light" role="button">GO</a></td>

      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
