{% extends "base.html" %}

{% block content %}

<br><br>
<h1>{{collection.title}}</h1>
<h4> Created by: {{collection.creator.name}}</h4>
<p>{{collection.description}}</p>
<div class="d-flex p-2 border justify-content-end align-items-center">
  <form method="POST" action="/collections/{{collection.cid}}">
    <div class="btn-group mx-auto" role="group" aria-label="collection actions">
      {% if likeStatus %}
        <input class="btn btn-primary" type="submit" value="Unlike" name="like">
      {% else %}
        <input class="btn btn-primary" type="submit" value="Like" name="like">
      {% endif %}
    </div>
  </form>
  {% if create %}
  <button
    class="btn btn-primary"
    type="button"
    data-toggle="modal"
    data-target="#createForm"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    +
  </button>
  <div style="margin-left: 10px">
    <form
    action=""
    method="POST"
    novalidate
    >
    {% if delete %}
    {{delete.hidden_tag()}}
    {{ delete.delete(class_="btn btn-danger text-light") }}
    {% endif %}
    </form>
  </div>

  <form
    action=""
    method="POST"
    novalidate
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    id="createForm"
  >
    {{ create.hidden_tag() }}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Copy</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ create.gamename.label }}</label>
            {{ create.gamename(class_="form-control") }}
            <datalist id="game_list">
            {% for game in all_games %}
              <option value="{{game.name}}">
              </option>
            {% endfor %}
          </datalist>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <div>
            {{ create.submit(class_="btn btn-primary text-light") }}
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endif %}
</div>

{{ game_list(games) }}
<br>

<a
  role="button"
  class="btn btn-danger text-light"
  onclick="history.back()"
  style="cursor: pointer"
  >Back</a
>
{% endblock %}
