{% extends "base.html" %}

{% block content %}

<br><br>
<div class="container">
  <div class="row bg-light">
    <div class="col-9">
      <h1>{{game.name}}</h1>
      <p>{{game.description}}</p>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{{game.image_url}}" alt="Cover Art for {{game.name}}"/>
        <div class="card-body">
          <p>Players: {{game.min_players}}-{{game.max_players}}</p>
          <p>Length: {{game.length}} minutes</p>
          <p>Complexity: {{game.complexity}}/5</p>
          <div class="btn-group mx-auto" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Left</button>
            <button type="button" class="btn btn-primary">Middle</button>
            <button type="button" class="btn btn-primary">Right</button>
          </div>
          <a href="/games" role="button" class="btn btn-danger">Back</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex mt-5 p-2 bg-danger">
    <div class="col-2 d-flex">
      <h2 class="bagde rounded-pill bg-danger text-light align-self-center p-2">Mechanics</h2>
    </div>

    <div class="col-10 d-flex flex-wrap">
      {% for mechanic in mechanics%}
        <h3><span class="badge rounded-pill bg-info text-light m-1">{{mechanic.name}}</span></h2>
      {% endfor %}
    </div>
  </div>
</div>





{% endblock %}