{% extends "base.html" %}

{% block content %}

<h2>Search Games:</h2>
<form>
  <div class="d-flex p-2 border justify-content-end align-items-center">
  
    {{ form.search.label }} {{ form.search }}
    <div class="btn-group mx-1" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary ">Left</button>
      <button type="button" class="btn btn-primary">Middle</button>
      <button type="button" class="btn btn-primary">Right</button>
    </div>
    <button type="submit" class="btn btn-primary mx-1">Submit</button>
  </div>
</form>

<table class='table table-hover table-primary table-striped table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Thumbnail</th>
      <th scope="col">Name</th>
      <th scope="col">Complexity</th>
      <th scope="col">Players</th>
      <th scope="col">Length</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games%}
      <tr>
        <td><img src="{{game.thumbnail_url}}" alt="Cover art for {{game.name}}"/></td>
        <th scope="row">{{game.name}}</th>
        <td>{{game.complexity}}</td>
        <td>{{game.min_players}}-{{game.max_players}}</td>
        <td>{{game.length}} minutes</td>
        <td><a href="/games/{{game.gid}}" class="badge bg-primary text-light" role="button">GO</a></td>

      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
