{% extends "base.html" %}

{% block content %}

</header> Mechanic Games </header>

<br>

<body>
    Hi
    <table>
        <thead>
            <tr>
                <th>Game ID</th>
                <th>Game Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>yes</tr>
            {% for game in games %}
            <tr>
                <td>{{game.gid}}</td>
                <td>{{game.name}}</td>
                <td>{{game.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

{% endblock %}