{% extends "base.html" %}

{% block content %}

<br><br>
<div class="container">
  <div class="row bg-light">
    <div class="col-9">
      <h1>{{game.name}}</h1>
      <p>{{game.description}}</p>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{{game.image_url}}" alt="Cover Art for {{game.name}}"/>
        <div class="card-body">
          <p>Players: {{game.min_players}}-{{game.max_players}}</p>
          <p>Length: {{game.length}} minutes</p>
          <p>Complexity: {{game.complexity}}/5</p>
          {% if playCount != None %}
            <p>Play Count: {{playCount}}</p>
          {% endif %}
            <form method="POST" action="/games/{{game.gid}}">
              <div class="btn-group mx-auto" role="group" aria-label="Basic example">
                <input class="btn btn-primary" type="submit" value="Log Play" name="log_play">
                <input class="btn btn-primary" type="submit" value="Like" name="like">
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex mt-2 p-2 bg-light rounded">
    <div class="col-2 d-flex">
      <h3 class="bagde rounded-pill bg-primary text-light align-self-center p-2">Mechanics</h3>
    </div>

    <div class="col-10 d-flex flex-wrap">
      {% for mechanic in mechanics%}
        <h4><span class="badge rounded-pill bg-secondary text-light m-1">{{mechanic.mech_name}}</span></h4>
      {% endfor %}
    </div>
  </div>
</div>





{% endblock %}