{% extends "base.html" %} {% block content %}

<h2>Search Libraries:</h2>

<div class="d-flex p-2 border justify-content-end align-items-center">
  <form>
    {{ form.search(value = prev_search_string) }}
    <button type="submit" class="btn btn-primary mx-1">Search</button>
  </form>
  <a href="{{ url_for('library.libraries') }}" class="btn btn-primary mx-1">Clear Search</a>
</div>

<table
  class="table table-hover table-primary table-striped table-bordered container"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Owner</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for library in libraries%}
    <tr>
      <th scope="row">{{library.title}}</th>
      <td>{{library.description}}</td>
      <td>{{library.owner.name}}</td>
      <td>
        <a
          href="/libraries/{{library.lid}}"
          class="badge bg-primary text-light"
          role="button"
          >GO</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
