{% extends "base.html" %} {% block content %}

<br /><br />
<h1>{{library.title}}</h1>
<p>{{library.description}}</p>
{% if create %}
<div class="d-flex p-2 border justify-content-end align-items-center">
  <button
    class="btn btn-primary"
    type="button"
    data-toggle="modal"
    data-target="#createForm"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    +
  </button>

  <form
    action=""
    method="POST"
    novalidate
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    id="createForm"
  >
    {{ create.hidden_tag() }}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Copy</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ create.gamename.label }}</label>
            {{ create.gamename(class_="form-control") }}
            <datalist id="game_list">
            {% for game in all_games %}
              <option value="{{game.name}}">
              </option>
            {% endfor %}
          </div>
          <div class="form-group">
            <label>{{ create.comment.label }}</label>
            {{ create.comment(class_="form-control") }}
          </div>
          <div class="form-group">
            <label>{{ create.borrower.label }}</label>
            {{ create.borrower(class_="form-control") }}
            <datalist id="user_list">
            {% for user in all_users %}
              <option value="{{user.name}}">
              </option>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          {{ create.submit(class_="btn btn-primary text-light")}}
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}
<table
  class="table table-hover table-primary table-striped table-bordered container"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Thumbnail</th>
      <th scope="col">Copy</th>
      <th scope="col">Comment</th>
      <th scope="col">Borrower</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for copy in copies%}
    <tr>
      <td>
        <img
          src="{{copy.game.thumbnail_url}}"
          style="max-width: 100px"
          alt="Cover art for {{copy.game.name}}"
        />
      </td>
      <th scope="row">{{ copy.game.name }}</th>
      <td>{{copy.comment}}</td>
      {% if not copy.borrower.name %}
      <td>
        <a
          href="{{ url_for('library.checkout', lid=library.lid, cpid=copy.cpid) }}"
          class="badge bg-primary text-light"
          >Borrow</a
        >
      </td>
      {% elif copy.borrower.name != user.name %}
      <td>{{copy.borrower.name}}</td>
      {% elif copy.borrower.name == user.name %}
      <td>
        <a
          href="{{ url_for('library.return_copy', cpid=copy.cpid) }}"
          class="badge bg-primary text-light"
          >Return</a
        >
      </td>
      {% endif %}
      <td>
        <a
          href="{{ url_for('game.game', gid=copy.game.gid) }}"
          class="badge bg-primary text-light"
          role="button"
          >GO</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a
  role="button"
  class="btn btn-danger text-light"
  onclick="history.back()"
  style="cursor: pointer"
  >Back</a
>
{% endblock %}
