{% extends "base.html" %}

{% block content %}

<br>

<label for="uid_input">Enter user's uid:</label>
<input id="uid_input" type="text"></input>
<button id="uid_submit">Submit</button>

<br><br>

<h2>Games Liked:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Game ID</th>
      <th scope="col">Game Name</th>
    </tr>
  </thead>
  <tbody>
    {% for game in liked_games%}
      <tr>
        <th scope="row">{{game.gid}}</th>
        <td>{{game.name}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  document.getElementById("uid_submit").addEventListener("click", function(){
    window.location = "/likesgame/" + document.getElementById("uid_input").value;
  });
</script>

{% endblock %}
