{% extends ".html" %}


{% block content %}

</h2> Recommended </h2>

<body>
    <table>
        <thead>
            <tr>
                <th>Game ID</th>
                <th>Game Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for rec in recommended %}
            <tr>
                <td>{{rec.gid}}</td>
                <td>{{rec.name}}</td>
                <td>{{rec.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>


        


    

<img src="pic_trulli.jpg" alt="Italian Trulli">
        </table>
    </body>
{% endblock %}