{% extends "base.html" %}


{% block content %}

</header> Your Recommended </header>

<br>

You liked {{liked.name}}
<br>
We recommend:
<br>

<body>
    <table>
        <thead>
            <tr>
                <th>Game ID</th>
                <th>Game Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for rec in recommended %}
            <tr>
                <td>{{rec.gid}}</td>
                <td>{{rec.name}}</td>
                <td>{{rec.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

{% endblock %}
